
<h2>About this portal</h2>

<p>Capsule Cloud is Check Point's solution for a NGFW-as-a-Service. It will protect with strong encryption and control all
your outgoing traffic. The best-of-breed security tool you can use on your mobile devices.</p>

<p>Cloud Management Portal is an automation for Capsule Cloud that would allow a company to resell NGFW-aaS in massive terms.</p>

<h2>How it works:</h2>
<p>For each new customer, you will create a new 'Account', this will be represented as a group of users, each memmber of the group
will be an employee of the created account. Security Policies are predefined as 'Packages' and can be modified. CMP allows you
to import a .csv file for bulk user creation.</p>

<p>Written by Javier Padilla (jpadilla@checkpoint.com). October 2015</p>

<hr>
<center>
    <img src="images/capsule.jpg" width="110" height="40">
    <img src="images/cplogo.jpg" width="110" height="40">
    <img src="images/cheetah.gif" width="110" height="40">
    <img src="images/python_powered.png" width="110" height="40">
    <img src="images/freebsd-logo.jpg" width="110" height="40">
</center>