<p>
<a href="http://192.168.206.128:2431/index?section=accounts&view=createAccount"><img src="images/addaccount.png" width="30" height="30"> Add Account</a> 
<a href="http://192.168.206.128:2431/index?section=accounts&view=createUser"><img src="images/adduser.png" width="30" height="30"> Add User</a>
<a href="http://192.168.206.128:2431/index?section=accounts&view=listAccounts"><img src="images/listusers.png" width="30" height="30"> Show Accounts</a>
</p>


#if $view == 'createAccount'

<h2>Create new Account</h2>
<form action="createAccount" method="post">

<p>Account Name: <input type='text' maxlength=20 name='accountName'><p>
<p>Default blocking Policy: 
<select name="policy">
<option value="ngfw" selected>Adult</option>
<option value="ngtp" selected>Adult+Undesired</option>
<option value="ngtp" selected>Adult+Undesired+Games</option>
<option value="ngtp" selected>Adult+Undesired+FileSharing</option>

</select><p>

<p>Access Valid For: 
<select name="accessExpire">
<option value="3m" selected>3 months</option>
<option value="6m" >6 months</option>
<option value="12m">12 months</option>
</select></p>

<p>Import users from file: <input type='file' name='users.scv'></p><br>
<p>Paste here an user list in the shown format, 1 user per line.</p>
<textarea rows="4" cols="50">username,username@domain.com</textarea>
</br>
<input type='submit' value='Create Account' >
</form>



#elif $view == 'createUser'
<h2>Create a new user.</h2>
<form action="createUser" method="post">
<p>Customer Account: 
<select name="account">
<option value="ngfw" selected>Fusiondementes</option>
<option value="ngtp" selected>Cableonda</option>
</select><p>

<p>User Name: <input type='text' maxlength=20 name='userName'><p>
<p>E-mail:    <input type='text' maxlength=40 name='userEmail'><p>

<input type='submit' value='Create User' >
</form>


#elif $view == 'listAccounts'

<h3>Existing Accounts</h3>
#if $msgCode == '03':
    <p>Accout has been deleted</p>
#else
    <p>Listing existing Accounts:</p>
#end if

<form action="xxxxxxx" method="post">
    <table border="1" style="width:100%">
        <tr>
    <td>Account ID</td>
    <td>Account Name</td> 
    <td>Actions</td>
  </tr>
#for $row in $accountList:
  <tr>
    <td>$accountList[$row]['groupID']</td>
    <td>$accountList[$row]['groupDisplayName']</td> 
    <td><input type="checkbox" name="active" value="active" checked>Active
        <img src="images/log_view.png" width='20'/>
        <a href="http://192.168.206.128:2431/deleteUser?userID=$accountList[$row]['groupID']"><img src="images/delete.png" width='20'/></a></td>
  </tr>
#end for
</table>
    
</select><p>
<input type='submit' value='Update Account' >
</form>


#elif $view == 'listUsers'

<h3>Existing Users</h3>
#if $msgCode == '03':
    <p>User deleted</p>
#else
    <p>Listing existing users:</p>
#end if

<form action="add_user" method="post">
    <table border="1" style="width:100%">
        <tr>
    <td>User ID</td>
    <td>User Name</td> 
    <td>E-Mail</td>
    <td>Actions</td>
  </tr>
#for $row in $userlist:
  <tr>
    <td>$userlist[$row]['userID']</td>
    <td>$userlist[$row]['userName']</td> 
    <td>$userlist[$row]['userEmail']</td>
    <td><input type="checkbox" name="active" value="active" checked>Active
        <img src="images/log_view.png" width='20'/>
        <a href="http://192.168.206.128:2431/deleteUser?userID=$userlist[$row]['userID']"><img src="images/delete.png" width='20'/></a></td>
  </tr>
#end for
</table>
    
</select><p>
<input type='submit' value='Update Account' >
</form>

#else
<p>No view</p>

#end if