<h2>Create a basic policy for a Stand Alone Gateway </h2>

<form action="create_policy" method="post">
<p>Policy named <input type='text' maxlength=15 name='policy_name' value='MSDK_Policy'>
for gateway <input type='text' maxlength=15 name='gw_name' value='DevilGW'>

<h3>Global Properties:</h3>
<table>
  <tr>
    <td><input type='checkbox' name='icmp' checked='checked'></td>
    <td>Accept ICMP first</td>
  </tr>
  <tr>
    <td><input type='checkbox' name='dns' checked='checked'></td>
    <td>DNS first</td>
  </tr>
  <tr>
    <td><input type='checkbox' name='dns' checked='checked'></td>
    <td>Log implied Rules</td>
  </tr>
</table>
<h3> <img src="images/fw_icon.png" width='30'/> FW RuleBase:</h3>
<table border='1'>
  <tr>
    <td>On/Off</td>
    <td>Rule Name</td>
    <td>Source</td>
    <td>Destination</td>
    <td>Services</td>
    <td>Action</td>
    <td>Track</td>
    <td>Comment</td>
  </tr>
  <tr>
    <td><input type='checkbox' name='rule1' checked='checked'></td>
    <td>Stealth Rule</td>
    <td><input type='text' maxlength=20 name='host_expr' value='Internal_LAN'> </td>
    <td>my firewall</td>
    <td><input type='checkbox' name='rule1' checked='checked'>CP GUI for SmartConsole <br>
        <input type='checkbox' name='rule1' checked='checked'>Webui on 4434 & SSH for GAiA Mgmt</td>
    <td>Accept</td>
    <td>Log</td>
    <td>Just my internal net can connect directly to the GW</td>
  </tr>
  <tr>
    <td><input type='checkbox' name='rule1' checked='checked'></td>
    <td>SHHHHHHHH</td>
    <td>Any</td>
    <td>Any</td>
    <td>NBT, CIFS, and all M$ broadcast</td>
    <td>Drop</td>
    <td>Log</td>
    <td>Block noisy M$ broadcast Traffic</td>
  </tr>
  <tr>
    <td></td>
    <td>Clean UP</td>
    <td>Any</td>
    <td>Any</td>
    <td>Any</td>
    <td>Drop</td>
    <td>Log</td>
    <td>Drop all traffic</td>
  </tr>
</table>

<h3><img src="images/ips_icon.jpg" width='30'/>Threath Prevetion Policies</h3>
<p><input type='checkbox' name='do_ips' checked='checked'>IPS with 
<select name="ips_profile">
<option value="default" selected>Default</option>
<option value="recomended">Recommended</option>
</select> Profile.
 </p>

<input type='submit' value='Apply'>
<input type='submit' value='Gimme the Code!'>

</form>
