<h3><a href="http://192.168.206.128:2431/showapps">Show All Applications</a></h3>
<h3><a href="http://192.168.206.128:2431/showcatgs">Show All Categories</a></h3>

<h2>Test Capsule Cloud API Commands</h2>

<form action="sendApiCmd" method="post">
    <p>API command: <input type='text' maxlength=30 name=apiCmd><p>
    <p>Params:      <input type='text' maxlength=80 name=params><p>
    
<input type='submit' value='Run CMD!' >
</form>

  
