<h2>Administrator settings</h2>

<form action="saveConfig" method="post">

<p>Active Account: $email</p>
<hr>

<h3>Capsule Cloud Settings</h3>
<p>Create a user with admin priviledges to acces Capsule Cloud API</p>
<p>Admin E-mail: <input type='text' maxlength=40 name='email'> Password: <input type='password' maxlength=20 name='password'></p>

<input type='submit' value='Save Config' >
<br>
#if $return_code == '01':
<p>Settings succefully updated</p>
#else
<p></p>
#end if
</form>
