
<table border="1" style="width:100%">
  <tr>
    <td>Category ID</td>
    <td>Category Name</td>
  </tr>
#for $row in $requestResponse:
  <tr>
    <td>$requestResponse[$row]['categoryID']</td>
    <td>$requestResponse[$row]['name']</td>
  </tr>
#end for
</table>