
<table border="1" style="width:100%">
  <tr>
    <td>App ID</td>
    <td>App Name</td 
  </tr>
#for $row in $requestResponse:
  <tr>
    <td>$requestResponse[$row]['appID']</td>
    <td>$requestResponse[$row]['name']</td>
  </tr>
#end for
</table>