/* Must use em for margin, px used everywhere else */
body { margin: 0em; padding: 0em; background: url("images/white.jpg") #ffffff repeat 0px 100px; font-family: arial, sans-serif; color: #000063; font-size: 14px;}

/* Page Header */
#MainHeader {height: 106px; color: #000063; background: #ffffff url("images/HeaderSlice.gif") repeat-x; }
#MainHeaderMainTitle { float: left; height: 106px; color: #ffffff; background: url("images/TopCorner.gif") no-repeat; }
#MainHeaderMainTitle span { padding-left: 10px; font-size: 56px; font-weight: bold; font-style: italic; }
#MainHeaderQuote { float: right; font-size: 18px; font-weight: bold; font-style: italic; text-align: right; padding-right: 6px; color: #ffffff; background-color: #000063; }

/* Navigation Menu */

#NavMenu { float: left; width: 160px; }
#NavMenu ul { list-style: none; margin: 0px; padding: 0px; }
#NavMenu ul li { display: inline; } /* Inline to fix IE vertical space */
#NavMenu ul li div { height: 70px; margin: 0px; padding: 0px; text-align: center; }
#NavMenu ul li div a { display: block; height: 36px; text-decoration: none; font-size: 18px; font-style: italic; }
#NavMenu ul li div a span { line-height: 36px;  color: #ffffff; }

/* li should be block, but is inline to make IE happy.  This necessitates the extra div */

#ButtonA div { width: 124px; background: url("images/LeftNavNormal.gif") no-repeat 0px -30px; }
#ButtonA div a:hover { background: url("images/LeftNavHot.gif") no-repeat 0px -30px; }

#ButtonB div { width: 130px; background: url("images/LeftNavNormal.gif") no-repeat 0px -100px; }
#ButtonB div a:hover { background: url("images/LeftNavHot.gif") no-repeat 0px -100px; }

#ButtonC div { width: 138px; background: url("images/LeftNavNormal.gif") no-repeat 0px -170px; }
#ButtonC div a:hover { background: url("images/LeftNavHot.gif") no-repeat 0px -170px; }

#ButtonD div { width: 148px; background: url("images/LeftNavNormal.gif") no-repeat 0px -240px; }
#ButtonD div a:hover { background: url("images/LeftNavHot.gif") no-repeat 0px -240px; }

#ButtonE div { width: 154px; background: url("images/LeftNavNormal.gif") no-repeat 0px -310px; }
#ButtonE div a:hover { background: url("images/LeftNavHot.gif") no-repeat 0px -310px; }

#ButtonF div { width: 154px; background: url("images/LeftNavNormal.gif") no-repeat 0px -380px; }
#ButtonF div a:hover { background: url("images/LeftNavHot.gif") no-repeat 0px -380px; }

#ButtonG div { width: 140px; background: url("images/LeftNavNormal.gif") no-repeat 0px -450px; }
#ButtonG div a:hover { background: url("images/LeftNavHot.gif") no-repeat 0px -450px; }


/* Content Container */

#Content {margin-left: 164px; padding-right: 6px; }


/* Page Footer */

#Footer { margin-left: 164px; margin-top: 10px; text-align: center; font-size: 12px; clear: both; }
#Footer div { margin: 6px 0px 0px 0px; }
#FooterStyleSheetOptions ul { list-style: none; display: inline; margin: 0px; padding: 0px; }
#FooterStyleSheetOptions ul li { display: inline; padding: 10px; }



/* Home Pages */

#HomePageContent { margin-left: 100px; font-size: 14px; font-weight: bold; max-width: 1000px; padding-top: 20px; }
